@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Queries *Desktop first
/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: main styles
1800 + : Big desktop
*/

/*
@mixin response-phone {
  @media (max-width: 600px) {@content};
}
*/

/*
$breakpoint arguments:
- phone
- tabport
- tabland
- bigdesktop
*/

@mixin response($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {@content};
  }
  @if $breakpoint == tabport {
    @media (max-width: 900px) {@content};
  }
  @if $breakpoint == tabland {
    @media (max-width: 1200px) {@content};
  }
  @if $breakpoint == bigdesktop {
    @media (min-width: 1800px) {@content};
  }
}