// COLORS
$color-primary: #B2DFDB;
$color-primary-light: #1DE9B6;
$color-primary-dark: #00BFA5;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #3e4444;

// FONT
$default-font: 1.6rem;

// GRID
$gutter-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;